@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Bebas+Neue&family=Birthstone&family=Black+Han+Sans&family=Keania+One&family=Lobster&family=Metal+Mania&family=Mitr&family=Mukta:wght@300&family=Orbitron:wght@600&family=Oswald:wght@200&family=Pacifico&family=Roboto+Condensed&family=Sansita+Swashed:wght@300;900&family=Satisfy&display=swap');

body{
    background-color: rgb(255, 255, 255);
}
#div1{
    background-color: rgba(0, 0, 0, 0);
    /* height: 30px; */
}
#subnav1{
    margin-top: -10px;
}
#a1{
    color: white;
    font-size: 10px;
}
#imgwis{
    width: 20px;
    height: 20px;
    margin-top: -5px;
}
#a2{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(255, 0, 0);
}
/* #logo{
    width: 35px;
    height: 35px;
    margin-top: 35PX;
    margin-left: 14px;
} */
/* #name1{
    color:rgb(91, 91, 219);
    background:none;
    font-size:15px;
    font-family:'Keania One', cursive;
    margin-top: -15px;
} */
/* #name2{
    color:rgb(91, 91, 219);
    background:none;
    text-shadow: none;
    font-size:10px;
    margin-top: 10px;

} */
#B{
    color: white;
    font-size: 10px;
}
#container{
    height: 150px;
}
#b1{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: none;
}
/* #b1:hover{
    border: none;

} */
#cl1{
    margin-bottom: 140px;
    margin-left: 550px;
}
#cl2{
    margin-bottom: 140px;
    margin-left: 550px;
}#cl3{
    margin-bottom: 140px;
    margin-left: 550px;
}
#B1{
    color: white;
    background-color: rgb(34, 34, 34);
    border: none;
    border-radius: 50px;
    width: 150px;
}
#B1:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 217);
    box-shadow: 18px 18px 16px -3px rgba(0,0,0,0.61);
}
#container1{
    background-color: rgba(0, 255, 255, 0);
    /* height: 3500px; */
    border-bottom: 10px black solid;

}
#HEAD{
    padding-top: 30px;
    text-align: left;
    margin-left: 40px;
}
#row1{
    background-color: rgba(128, 255, 0, 0);
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
#col1{
    text-align: center;
    border:none;
    background-color:rgba(255, 0, 98, 0);
    height:400px;
}
#col1:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#col2:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#col3:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#col4:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


#col2{
    text-align: center;

    border:none;
    background-color:rgba(255, 0, 98, 0);
    height:400px;
}#col3{
    text-align: center;

    border:none;
    background-color:rgba(255, 0, 98, 0);
    height:400px;
}#col4{
    text-align: center;

    border:none;
    background-color:rgba(255, 0, 98, 0);
    height:400px;
}
#subcol1{
    background-image: url(./images2/catagory\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    /* position: relative; */

    box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -webkit-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -moz-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -o-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;

}
#subcol2{
    background-image: url(./images2/catagory\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;

    box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -webkit-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -moz-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -o-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;

}
#subcol3{
    background-image: url(./images2/catagory\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;

    box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -webkit-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -moz-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -o-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
}
#subcol4{
    background-image: url(./images2/catagory\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;

    box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -webkit-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -moz-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;
    -o-box-shadow: inset 0px -50px 51px 26px #000000,-50px -50px 0px -100px #DDDDDD;

}
#colhead1{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family:'Playfair Display', serif;
}
#colhead2{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family:'Playfair Display', serif;
}
#colhead3{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family:'Playfair Display', serif;
}
#colhead4{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family:'Playfair Display', serif;
}
 #subhead1{
    background-color: rgba(165, 42, 42, 0);
    height: 50px;
    width: 286px;
    margin-top: 280px;
    position: absolute;
}
#subhead2{
    background-color: rgba(165, 42, 42, 0);
    height: 50px;
    width: 286px;
    margin-top: 280px;
    position: absolute;
} 
#subhead3{
    background-color: rgba(165, 42, 42, 0);
    height: 50px;
    width: 286px;
    margin-top: 280px;
    position: absolute;
} 
#subhead4{
    background-color: rgba(165, 42, 42, 0);
    height: 50px;
    width: 286px;
    margin-top: 280px;
    position: absolute;
}
#colbtn1{
    color: white;
    /* margin-left: 95px; */
    margin-top: 6px;
    border: none;
    background-color: transparent;
}

#viewbutton1{
    background-color: transparent;
    border: none;
    width: 100px;
    margin-left: 150px;
}
#viewbutton1:hover{
    background-color:rgb(238, 238, 238);
    border: none;
}
#HEAD2{
    padding-top: 30px;
    text-align: left;
    margin-left: 40px;

}
#row2{
    /* background-color: rgba(62, 124, 0, 0); */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/* #container2{
    padding-top: 10px;
    background-color: chartreuse;
    height: 1000px;
} */
#col11{
    text-align: center;
    /* border: 1px black solid; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}
#col12{
    text-align: center;
    /* border: 1px black solid; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}
#col13{
    text-align: center;
    /* border: 1px black solid; */
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}
#col14{
    text-align: center;
    /* border: 1px black solid; */
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}
#col15{
    text-align: center;
    /* border: 1px black solid; */
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}
#col16{
    text-align: center;
    /* border: 1px black solid; */
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

}
#showhead1{
    color: rgba(0, 0, 0, 0.733);
    font-size:15px ;
}
#showhead2{
    color: rgb(100, 76, 76);
    font-size:13px ;
}
#showhead3{
    color: rgba(0, 0, 0, 0.829);
    font-size: 13px;
}
#showbtn1{
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: green;
}
#showbtn1:hover{
    color: rgb(254, 255, 195);
    border: none;
    border-radius: 5px;
    background-color: rgb(71, 60, 60);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}



#row3{
    background-color: chartreuse;
    margin-top: 50px;
    border-bottom: 10px red solid;
    border-top: 10px red solid;

}
#col21{
    text-align:center;
    height: 500;
    background-color: rgb(0, 0, 0);
    border: 1px black solid;
}
#col22{
    text-align:center;
    /* height: 500px; */
    background-color: rgb(0, 0, 0);
    border: 1px rgba(0, 0, 0, 0) solid;

    /* height: 500;
    background-image: url(./images2/new\ arrival.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 39px 0px 52px 7px #000000,-50px -50px 0px -100px #DDDDDD;
    -webkit-box-shadow: inset 39px 0px 52px 7px #000000,-50px -50px 0px -100px #DDDDDD;
    -moz-box-shadow: inset 39px 0px 52px 7px #000000,-50px -50px 0px -100px #DDDDDD;
    -o-box-shadow: inset 39px 0px 52px 7px #000000,-50px -50px 0px -100px #DDDDDD;  */
}
#newimg{
    height: 450px;
    width:660px;
}
#dot{
    color: red;
    font-size:30px;
}
#newhead1{
    margin-top:80px;
    color: rgba(255, 255, 255, 0.596);
}
#newhead2{
    font-size: 100px;
    color: rgba(255, 255, 255, 0.596);
}
#newhead3{
    color: rgba(255, 255, 255, 0.596);
}
#newhead4{
    color: rgba(255, 255, 255, 0.596);
}
#newbtn{
    border: none;
    color: white;
    background-color: red;
    margin-top: 30px;
    width: 150px;
    height: 30px;
}
#row5{
    /* background-color: rgba(62, 124, 0, 0); */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#subpagi{
    text-align: center;
} 
#pagi{
    text-align: center;
    margin-top: 10px;
}
#row6{
    padding: 20px;
    margin-top: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}
#row7{
    padding: 20px;
    margin-top: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}
#mosthead{
    color: black;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
#mostp{
    font-size: 13px;
}
#headdiv{
    text-align: center;
}
#mostspan{
    color: red;
}
#mostbtn{
    text-align: center;
    margin-bottom: 0px;
}
#mostbtn0{
    text-align: center;
    margin-top: 35px;
}
#mostbtn1{
    border: none;
    background-color: transparent;
}
#most2{
    margin-top: 20px;
}
#rowhelp{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    border-bottom: 10px red solid;
}
#colhelp1{
    border-left:1px red solid ;
    border-right:1px red solid ;
}
#helphead1{
    color: rgba(255, 255, 255, 0.658);
    font-size: 15px;
    font-style: italic;
}
#helphead2{
    color: rgba(255, 255, 255, 0.658);
    font-size: 20px;
}
#helpspan{
    color: red;
    font-size:40px;
}
#footer{
    background-color: rgba(128, 255, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}
#subfooter1{
    background-color: rgba(0, 100, 0, 0);
}
#subfooter2{
    background-color: rgba(0, 100, 0, 0);
}
#subfooter3{
    background-color: rgba(0, 100, 0, 0);
}
#subfooter4{
    background-color: rgba(0, 100, 0, 0);
}
#about{
    padding-left: 30px;
    padding-right: 30px;
    text-align:center;
    
}
#follow{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 40px;
    border-bottom: 3px red solid;
}
#follow1{
    text-align: left;
}
#follow2{
    text-align: end;
}
a{
    text-decoration: none;
    color: black;
}
#aboutglxy{
    font-size: 17px;
    color: white;
}
#offcanvasBottomLabel{
    font-size:25px;
    color: white;
    
}
#subscribe{
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    
}
#subscribe:hover{
    color: rgb(185, 185, 185);
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    
}

#footerhead{
    font-size: 18px;
    font-family:'PT Serif', serif ;
}
#aboutbtn{
    text-decoration: none;
    border: none;
}
#copy{
    font-size: 10px;
}
#shopname{
    font-size:50px ;
    font-family: 'Ruslan Display', cursive;
    margin-left: px;
    color: transparent;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
#shopname1{
    font-family: 'Rakkas', cursive;
    color: transparent;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
#navbar1{
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}
#carousel{
    border-bottom: 10px red solid;
}
#aboutbtnglxy{
    font-family:'PT Serif', serif ;
}
#offcanvas{
    background-color: black;
    border-top: 5px red solid;
}
#offcanvas1{
    background-color: black;
    border-top: 5px red solid;
}
#closebtn{
    background-color: white;
}
#navbar1{
    background-color: rgba(0, 0, 0, 0.507);
}
#navbarDropdown{
    color: white;
}
#subnav1{
    background-color: rgba(0, 0, 0, 0.507);
}